<header>
    <img 
    src="assets/img/kayke.jpg" 
    alt="Kayke De Paula Menezes - Foto de Perfil"
    width="130px"
    height="170px"
    loading="eager"
    />
    <h1>Kayke De Paula</h1>
</header>
<aside>
    <div class="container">
        <p>FullStack Web Developer | Angular | React | NodeJs</p>
        <p>Nova Serrana, Minas Gerais, Brasil</p>
        <p>
            O desenvolvimento Web foi a área que mais me chamou atenção,
            por isso resolvi focar nela, e assim estou há quase 2,5 anos.
            Atuando com React há 1 ano, Angular há 5 meses e NodeJs há 1 ano.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="/assets/pdf/CV-ATUALIZADO.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/kayke-de-paula-985511247" target="_blank" class="btn btn-secundary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img 
                src="assets/icons/whatsapp.svg" 
                alt="Icone para contato do Whatsapp"
                width="22px"
                height="24px"
                />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5537991170571&text=Opa!"
                    target="_blank"><strong>Envie uma mensagem para:</strong>
                    <p>WhatsApp: (37) 9 9117-0571</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img 
                src="assets/icons/mail.svg" 
                alt="Icone para contato do e-mail"
                width="22px"
                height="24px"
                />
                <figcaption>
                    <a href="mailto:kaykedepaula23@gmail.com"
                    target="_blank"><strong>Envie um e-mail para:</strong>
                    <p>kaykedepaula23&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>