:root {
    --primary: #799fe6;
    --primary-010: #3b4e70;

    --blue: #06628a;
    --blue-010: #06374e;

    --white: #fff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0;
}